html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 80%;
    margin: 10%;
}

input {
	position: relative;
	left: 40%;
}

#listbx {
   
    position: relative;
    left: 40%;

}